*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/submeter-billing-data/build/
/submeter-billing-data/build/classes/java/main/
/submeter-billing-service/build/
/submeter-billing-service/build/classes/java/main/